*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --Pink: hsl(322, 100%, 66%);
    --LPink: hsl(321, 100%, 78%);
    --LRed: hsl(0, 100%, 63%);
    --DCyan: hsl(192, 100%, 9%);
    --PBlue: hsl(207, 100%, 98%);
}
h1{
    font-size: 40px;
    font-weight: 800;
}
p{
    font-size: 14px;
    font-weight: 400;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 60px;
}
.header img{
    width: 200px;
}
.header a{
    text-decoration: none;
    color: var(--Pink);
    font-size: 14px;
    font-weight: 500;
    border: 1px solid var(--Pink);
    padding: 10px 25px;
    border-radius: 50px;
}
.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.landing-page h1{
    text-align: center;
}
.landing-page p{
    padding: 3vh;
    line-height: 1.5;
    text-align: center;
}
.landing-page a{
    text-decoration: none;
    padding: 15px 50px;
    border: 1px solid var(--Pink);
    color: #fff;
    background-color: var(--Pink);
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 40px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.2s ease;
}
.landing-page a:hover{
    background-color: var(--LPink);
    border: transparent;

}
.screen{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen img{
    width: 800px;
}
.communities{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
}
.communities div{
    padding: 0 150px;
}
.communities img{
    width: 40px;
}
.communities h1{
 font-size: 70px;
 font-weight: 600;
}
.communities p{
    text-align: center;
}
.grow-bg-top{
    background: url(images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0 bottom 0;
    width: 100%;
    height: 180px;
}
.grow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--PBlue);
    height: 80vh;
}
.grow div{
    margin: 0 50px;
}


.grow img{
    width: 500px;
    padding: 30px 0;
}
.grow p{
    padding-top: 10px;
}
.grow-bg-bottom{
    background: url(images/bg-section-bottom-desktop-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0 top 0;
    width: 100%;
    height: 150px;
}
.flow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
.flow div{
    margin: 0 50px;
}
.flow img{
    width: 500px;
}
.flow p{
    padding-top: 10px;
}
.user-bg-top{
    background: url(images/bg-section-top-desktop-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0 bottom 0;
    width: 100%;
    height: 150px;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--PBlue);
}
.user div{
    margin: 0 50px;
}
.user img{
    width: 500px;
    padding: 30px 0;
}
.user p{
    padding-top: 10px;
}
.user-bg-bottom{
    background: url(images/bg-section-bottom-desktop-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0 top 0;
    width: 100%;
    height: 180px;
}
.ready{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
    flex-direction: column;
}
.ready h1{
    margin: 120px 0;
}
.ready a{
    text-decoration: none;
    padding: 15px 60px;
    border: 1px solid var(--Pink);
    color: #fff;
    text-align: center;
    background-color: var(--Pink);
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}
.ready a:hover{
    border: transparent;
    background-color: var(--LPink);

}
.bg-footer-top{
    background: url(images/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0 bottom 0;
    width: 100%;
    height: 300px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px;
    background-color: var(--DCyan);
    color: #fff;
    height: 500px;
}

.footer .footer-col1 .col1 svg{
    margin-bottom: 20px;
}
.footer .footer-col1 .col1 p{
    margin-bottom: 1vw;
    font-size: 14px;
}
.footer .footer-col1 .col1 div{
    margin-bottom: 10px;
}
.footer .footer-col1 .col1 div img{
    width: 12px;
    margin-right: 10px;
}
.col2{
    margin-top: 30px;
    font-size: 30px;
}
.col2 .fa-brands{
    padding-right: 10px;
}
.footer-col2 h2{
    margin-bottom: 1vw;
    font-size: 20px;
}
.footer-col2 p{
    margin-bottom: 20px;
}
.footer-col2 .email{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-col2 .email input{
    width: 300px;
    padding: 15px;
    border: transparent;
    border-radius: 10px;
}
.footer-col2 a{
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    border: transparent;
    background-color: var(--Pink);
    padding: 10px 30px;
    margin: 0 1vw;
    color: #fff;
}



@media (max-width:600px) {
    h1{
        font-size: 20px;
        text-align: center;
    }
    p{
        font-size: 14px;
    }
    .header {
        margin: 30px 20px;
    }
    .header img{
        width: 120px;
    }
    .header a {
        font-size: 14px;
        font-weight: 500;
        padding: 5px 20px;
        border-radius: 50px;
    }
    .landing-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
    }
    .landing-page h1{
        font-size: 30px;
        text-align: center;
        padding: 0;
        width: 350px;
    }
    .landing-page p br{
        display: none;
    }

    .screen img {
        width: 300px;
        margin: auto;
    }
    .communities {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 10vw 30vw;
    }
    .communities div {
        padding: 0 10px;
    }
    .communities img{
        margin-top: 70px;
    }
    .grow-bg-top {
        background: url(images/bg-section-top-mobile-1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right 0 bottom 0;
        width: 100%;
        height: 200px;
        
    }
    .grow {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        background-color: var(--PBlue);
        height: 550px;
    }
    .grow div {
        margin: 0;
    }
    .grow img {
        width: 300px;
        padding: 30px 0;
    }
    .grow h1{
        font-size: 20px;
        text-align: center;
        padding-top: 40px;
    }
    .grow p br{
        display: none;
    }
    .grow p {
        margin-top: 10px;
        padding-bottom: 80px;
        text-align: center;
        padding: 0 19px;

    }
    .grow-bg-bottom {
        background: url(images/bg-section-bottom-mobile-1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right 0 top 0;
        width: 100%;
        height: 150px;
    }
    .flow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .flow div {
        margin: 0 25px;
    }
    .flow img {
        width: 300px;
        padding-top: 0;
    }
    .flow h1{
        font-size: 20px;
        text-align: center;
        padding-top: 70px;
    }
    .flow p br{
        display: none;
    }
    .flow p{
        text-align: center;
        padding-top: 15px;
    }
    .user {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        background-color: var(--PBlue);
    }
    .user-bg-top {
        background: url(images/bg-section-top-mobile-2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right 0 bottom 0;
        width: 100%;
        height: 250px;
    }
    .user img {
        width: 300px;
        padding: 0;
    }
    .user p br{
        display: none;
    }
    .user h1{
        padding-top: 60px;
    }
    .user div{
        margin: 0;
    }
    .user p {
        text-align: center;
        padding: 10 19px ;
        margin-bottom: 40px;
    }
    .user-bg-bottom {
        background: url(images/bg-section-bottom-mobile-2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right 0 top 0;
        width: 100%;
        height: 180px;
    }
    .ready {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        flex-direction: column;
    }
    .ready h1 {
        margin: 30px;
        padding-bottom: 50px;
        font-size: 30px;
    }
    .bg-footer-top {
        background: url(images/bg-footer-top-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right 0 bottom 0;
        width: 100%;
        height: 200px;
    }
    .footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: var(--DCyan);
    color: #fff;
    height: 800px;
    }
    .footer-col2{
        margin-bottom: 50px;
    }
    .footer-col2 h2 {
        margin-top: 40px;
        font-size: 30px;
        margin-bottom: 30px;
    }
    .footer-col2 .email {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .footer-col2 .email input {
        width: 320px;
        padding: 15px;
        border: transparent;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .footer-col2 p {
        margin: 30px 0;
    }
    .footer-col2 p br{
        display: none;
    }
    .footer .footer-col1 .col1 svg {
        margin-bottom: 2vh;
    }
    .footer .footer-col1 .col1 p br{
       display: none;
    }
    .footer .footer-col1 .col1 p {
        margin-bottom: 2vh;
        font-size: 16px;
    }

    .col2 {
        margin: 3vh 0;
        font-size: 30px;
    }
}

@media screen and (min-width: 601px) and (max-width:800px){
    .header {
        margin: 30px;
    }
    .landing-page h1{
        width: 480px;
    }
    .landing-page p {
        padding:  30px;
        width: 500px;
    }
    .landing-page p br{
        display: none;
    }
    .screen img {
        width: 480px;
    }
    .communities {
        margin: 10px;
    }
    .communities div {
        padding: 0 40px;
    }
    .grow {
        height: 300px;
    }
    .grow div {
        margin: 0 20px;
    }
    .grow img {
        width: 300px;
        padding: 30px 0;
    }
    .grow h1{
        font-size: 30px;
    }
    .grow p br{
        display: none;
    }
    .flow {
        padding: 10px 0px;
    }
    .flow div {
        margin: 0 30px;
    }
    .flow img {
        width: 300px;
    }
    .flow h1{
        font-size: 30px;
    }
    .flow p br{
        display: none;
    }
    .user-bg-top {
        height: 150px;
    }
    .user img{
        width: 300px;
    }
    .user h1{
        font-size: 30px;
    }
    .user p br{
        display: none;
    }
    .user div {
        margin: 0 20px;
    }
    .ready {
        padding: 50px 10px;
        flex-direction: column;
    }
    .ready h1 {
        margin: 50px 0;
        width: 500px;
        text-align: center;
    }
    .bg-footer-top {
        height: 200px;
    }
    .footer {
        justify-content: center;
        padding: 70px 30px;
        min-height: 400px;
    }
    
    .footer-col2 .email {
        align-items: flex-end;
        flex-direction: column;
    }
    .footer .footer-col1{
        margin-right: 30px;
    }
    .footer .footer-col2{
        margin-left: 30px;
    }
    .footer .footer-col1 .col1 p  br{
        display: none;
    }
    .footer-col2 p br {
        display: none;
    }
    .footer-col2 .email input {
       margin-bottom: 20px;
    }
}


@media screen and (min-width: 801px) and (max-width:1000px){
    .landing-page h1 {
       width: 600px;
    }
    .screen img {
        width: 700px;
    }
    .communities div {
        padding: 0 60px;
    }
    .grow div {
        margin: 0 30px;
    }
    .grow img{
        width: 400px;
    }
    .grow p br{
        display: none;
    }
    .flow {
        padding: 60px 0px;
    }
    .flow div {
        margin: 0 30px;
    }
    .flow img{
        width: 400px;
    }
    .flow p br{
        display: none;
    }
    .user div {
        margin: 0 30px;
    }
    .user img{
        width: 400px;
    }
    .user p br {
        display: none;
    }
    .ready {
        padding: 30px 10px;
        flex-direction: column;
    }
    .ready h1 {
        margin: 70px 0;
        width: 600px;
        text-align: center;
    }
    .bg-footer-top {
        height: 200px;
    }
    .footer{
        padding: 100px 0px;
    }
    .footer-col2 .email {
        align-items: flex-end;
        flex-direction: column;
    }
    .footer .footer-col1{
        margin-right: 30px;
    }
    .footer .footer-col2{
        margin-left: 30px;
    }
    .footer .footer-col1 .col1 p  br{
        display: none;
    }
    .footer-col2 p br {
        display: none;
    }
    .footer-col2 .email input {
       margin-bottom: 20px;
    }
}